/* exo-300 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/exo-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Exo Light"), local("Exo-Light"), url("../fonts/exo-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v9-latin-300.woff2") format("woff2"), url("../fonts/exo-v9-latin-300.woff") format("woff"), url("../fonts/exo-v9-latin-300.ttf") format("truetype"), url("../fonts/exo-v9-latin-300.svg#Exo") format("svg");
  /* Legacy iOS */
}

/* exo-regular - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Exo Regular"), local("Exo-Regular"), url("../fonts/exo-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v9-latin-regular.woff2") format("woff2"), url("../fonts/exo-v9-latin-regular.woff") format("woff"), url("../fonts/exo-v9-latin-regular.ttf") format("truetype"), url("../fonts/exo-v9-latin-regular.svg#Exo") format("svg");
  /* Legacy iOS */
}

/* exo-600 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-v9-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Exo SemiBold"), local("Exo-SemiBold"), url("../fonts/exo-v9-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v9-latin-600.woff2") format("woff2"), url("../fonts/exo-v9-latin-600.woff") format("woff"), url("../fonts/exo-v9-latin-600.ttf") format("truetype"), url("../fonts/exo-v9-latin-600.svg#Exo") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html, body {
  font-family: "Exo";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: #8f8f8f;
  height: 100%;
  width: 100%;
}

#dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100%;
  padding: 0.8em;
}

#dashboard h1 {
  font-size: 1.7em;
  margin-bottom: 0.6em;
}

#dashboard h2 {
  font-size: 1.5em;
  margin-bottom: 0.6em;
}

#dashboard h3 {
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

#dashboard p {
  padding-bottom: .7em;
}

#dashboard a {
  text-decoration: none;
  color: #e67e22;
}

#dashboard a.selected, #dashboard a:hover, #dashboard a:active {
  color: #cd701f;
}

#dashboard .bold {
  font-weight: 600;
}

#dashboard .border-radius {
  border-radius: 0.3em;
}

#dashboard .border-top-left {
  border-top-left-radius: 0.3em;
}

#dashboard .border-top-right {
  border-top-right-radius: 0.3em;
}

#dashboard .border-bottom-left {
  border-bottom-left-radius: 0.3em;
}

#dashboard .border-bottom-right {
  border-bottom-right-radius: 0.3em;
}

#dashboard .text-center {
  text-align: center;
}

#dashboard input, #dashboard textarea {
  background-color: #fff;
  color: #272c30;
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  margin-bottom: .5em;
  border-radius: 0.3em;
}

#dashboard button, #dashboard .button {
  background-color: #e67e22;
  border-radius: 0.3em;
  padding: 0.7em;
  color: #fff;
  border: none;
  outline: 0;
  font-weight: 300;
}

#dashboard button:hover, #dashboard .button:hover {
  background-color: #cd701f;
  cursor: pointer;
}

#dashboard #top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #272c30;
}

#dashboard #top > div {
  padding: 1em .7em;
}

#dashboard #top #top_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 17.85em;
  font-size: 1.2em;
}

#dashboard #top #top_name img {
  max-height: 1.5em;
  margin-right: .1em;
  margin-top: -0.2em;
}

#dashboard #top #top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#dashboard #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#dashboard #main #main_menu {
  padding: 1.5em 0 1em 0;
  background-color: #30363c;
}

#dashboard #main #main_menu ul li a {
  display: block;
  width: 100%;
  padding: .7em .7em .7em 1em;
  text-decoration: none;
  color: #8f8f8f;
  white-space: nowrap;
  border-left: 0.3em solid #30363c;
}

#dashboard #main #main_menu ul li a.selected, #dashboard #main #main_menu ul li a:hover, #dashboard #main #main_menu ul li a:active {
  border-color: #e67e22;
  color: #fff;
}

#dashboard #main #main_menu ul li a i {
  margin-right: .5em;
  width: 1em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #dashboard #main #main_menu ul li a i {
    margin-right: 1em;
  }
}

@media screen and (max-width: 767px) {
  #dashboard #main #main_menu ul li ul {
    display: none;
  }
}

#dashboard #main #main_menu ul li ul li a {
  font-size: .8em;
  padding-left: 3.5em;
}

#dashboard #main #main_menu ul li ul li a.selected, #dashboard #main #main_menu ul li ul li a:hover, #dashboard #main #main_menu ul li ul li a:active {
  border-color: #30363c;
}

#dashboard #main #main_menu #main_menu_mobile_toggle i {
  display: none;
  width: 2.2em;
  cursor: pointer;
  margin: 0 auto 1.5em auto;
  text-align: center;
}

#dashboard #main #main_menu #main_menu_mobile_toggle i::before {
  color: #fff;
}

#dashboard #main #main_menu #main_menu_mobile_toggle i::after {
  color: #e67e22;
}

#dashboard #main #main_menu #main_menu_mobile_toggle i:hover::after {
  color: #cd701f;
}

@media screen and (max-width: 767px) {
  #dashboard #main #main_menu #main_menu_mobile_toggle i {
    display: block;
  }
}

#dashboard #main #main_menu.desktop {
  width: 18em;
  min-width: 18em;
}

#dashboard #main #main_menu.mobile {
  width: 3.3em;
  min-width: 3.3em;
}

#dashboard #main #main_menu.mobile_open {
  width: 100%;
  min-width: 100%;
}

#dashboard #main #main_menu.mobile_open ul li a {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #3c444b;
  border-top: 1px solid #3c444b;
}

#dashboard #main #main_menu.mobile_open ul li a.selected, #dashboard #main #main_menu.mobile_open ul li a:hover, #dashboard #main #main_menu.mobile_open ul li a:active {
  border-color: #30363c;
  border-bottom: 1px solid #3c444b;
  border-top: 1px solid #3c444b;
}

#dashboard #main #main_menu.mobile_open ul li ul li a {
  border: none;
}

#dashboard #main #main_menu.mobile_open ul li ul li a.selected, #dashboard #main #main_menu.mobile_open ul li ul li a:hover, #dashboard #main #main_menu.mobile_open ul li ul li a:active {
  border: none;
}

#dashboard #main #main_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.5em;
  overflow-x: auto;
  background-color: #3c444b;
}
/*# sourceMappingURL=styles.css.map */